// .tm-side-navbar {
//     .router-link-active {
//         background-color: $tm-primary-500;
//         border-radius: 8px;
//         color: #fff;
//         .icon {
//             color: #fff;
//         }
//     }
// }

.trm_payment_settings_wrapper {
    padding: 20px;
    border-radius: 8px;
    background: $tm_background_color;
    .payment_settings_form {
        .app-card {
            margin-top: 20px;
        }
        .payment_settings_form_group {
            .form_label {
                @include text($size: 14px, $weight: 500, $color: $tm-dark-600);
            }
            .el-input, .el-radio-group {
                margin: 10px 0px;
            }
        }
    }
}