// .tm-side-navbar {
//     .router-link-active {
//         background-color: $tm-primary-500;
//         border-radius: 8px;
//         color: #fff;
//         .icon {
//             color: #fff;
//         }
//     }
// }

.trm_payment_settings_wrapper {
    padding: 20px;
    border-radius: 8px;
    background: $tm_background_color;
}