.tm_checkout{
    width: 100%;
    background: white;
   .tm_checkout_title{
    font-size: 1.9em;
    line-height: 1.210em;
    font-weight: 700;
    color: #010101;
    margin: 0 0 10px;
   }

   .tm_content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .tm_checkout_form{
        width: auto;
        flex: 1;
        padding-right: 30px;
        box-sizing: border-box;
        .tm_title{
            margin-bottom: 30px;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.5;
        }

        form{
            padding: 40px 24px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0px 4px 8px rgba(0,0,0,.04),0px 0px 1px rgba(0,0,0,.04);
            box-sizing: border-box;
            .tm_filed{
                margin: 0 0 32px;
                box-sizing: border-box;
                label{
                    display: block;
                    font-size: 16px;
                    margin-bottom: 8px;
                    color: #333333;
                    line-height: 1.6em;
                    font-weight: 400;
                }
                select, input{
                    padding: 12px;
                    font-size: 14px;
                    line-height: 1.7;
                    border: 1px solid rgba(6,22,38,.2);
                    border-radius: 4px;
                    font-family: inherit;
                    vertical-align: top;
                    width: 100%;
                    outline: none;
                    color: #2b2d31;
                    font-weight: 400;
                }
               
                option{
                    font-size: 14px;
                    line-height: 1.7;
                    font-family: inherit; 
                }
            }

            .tm_filed_checkbox{
                input{
                    box-sizing: border-box;
                    padding: 0;
                    outline: none;
                }
                label{
                    font-size: 16px;color: #010101;
                }
            }

            .tm_submit{
                margin-top: 40px;
                button{
                    padding: 10px 40px;
                    font-size: 16px;
                    font-weight: 500;
                    width: auto;
                    border-radius: 8px;
                    background: #017EF3;
                    border: 1px solid #017EF3;
                    cursor: pointer;
                    color: #fff;
                    transition: all .3s ease;
                }
                button:hover{
                    outline: none;
                    background-color: #79bbff;
                    border: 1px solid #79bbff;
                }
            }
        }
    }

    .tm_book_summary{
        width: 40%;
        border: none;
        padding: 32px 24px !important;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(0,0,0,.04),0px 0px 1px rgba(0,0,0,.04);
        background: #fff;

        .tm_summary_title{
            font-size: 28px;
            font-weight: normal;
            margin: 0 0 24px;
            color: rgba(var(--black-color-rgb), 0.8);
            line-height: 1.5;
            font-family: "Lato", sans-serif;
        }
        .tm_trip_details{
            border: none;
            padding: 32px 24px;
            background-color: rgba(97, 127, 244, 0.08);
            border-radius: 4px;
            margin-bottom: 10px;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;  
        }
        .tm_trip_details{
            border: none;
            padding: 32px 24px;
            background-color: rgba(97, 127, 244, 0.08);
            border-radius: 4px;
            margin-bottom: 10px;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;  

            .tm_trip_name{
                font-size: 20px;
                margin: 0 0 16px;
                font-weight: 500;
            }

            .tm_trip_code{
                padding: 8px 10px;
                font-size: 13px;
                line-height: 1;
                background-color: rgba(6,22,38,.4);
                color: #fff;
                font-weight: 600;
                border-radius: 40px;
                margin: 15px 0 0 0;
                order: 3;
                font-style: italic;
                span{
                    font-size: 13px;
                     line-height: 1;
                }
            }
            .tm_trip_date{
                font-size: 18px;
                color: #232323;
                display: block;
                margin-top: 10px;
                letter-spacing: 0;
                font-weight: 400;
            }
        }

        .tm_summary_table{
            font-size: 0.9em;
            border-radius: 5px;
            width: 100%;
            margin: 0;
            border-collapse: collapse;
            border: none;
            overflow: hidden;
            td{
                padding: 10px 0 !important;
                  color: #232323;
                  width: 100%;
            }
            tfoot{
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                text-align: right;
                border-color: rgba(0, 0, 0, 0.1);
              
            } 
            .tm_package_name{
                font-weight: 500;
                span{
                    padding-right: 20px;
                }
              
            }
            .tm_package_details{
                td{
                    font-size: 16px;
                    text-align: left !important;
                    padding-bottom: 20px !important;
                    color: #232323;
                }
                
            }
                
        }

        .tm_total_price{
            border-color: rgba(0, 0, 0, 0.1);
            padding: 32px 0 0;
            background: none;
            border-top:1px solid rgba(0, 0, 0, 0.1);
            margin-top: 30px;
            text-align: right;
            font-weight: 400;
            font-size: 20px;
            justify-content: flex-end;
            align-items: flex-end;
            line-heigh: 1;
        }

    }
    

}


}