.trm_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    .trm_content{
        padding: 0 0 80px;
        .trm_page-header{
            margin: 0 0 35px;
            .trm_page-title{
                font-size: 1.9em;
                line-height: 1.21em;
                font-weight: 700;
                color: $tm-neutral-1200;
                margin: 0 0 10px;
            }
        }
        //========================================
        .trm_page_body{
            padding: 0 15px;
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            
        }
        //=========================================
        .trm_pagination{
            text-align: center;
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                text-decoration: none;
                padding: 6px 16px;
                border-radius: 6px;
                background:   $tm-gray-50;
                margin-right: 6px;
                border: 1px solid $tm-gray-50;
                color: $tm-dark-300;
                font-size: 16px;
                cursor: pointer;
                &:hover{
                    color: $tm-primary-500;
                }
                &.trm_pag_active{
                    color: #fff;
                    background: $tm-primary-500;
                    border: 1px solid $tm-primary-500;
                    &:hover{
                        color: #fff;
                    }
                }
                &.trm_pag_disabled{
                    color: $tm-dark-300;
                    background: $tm-gray-50;
                    border: 1px solid $tm-gray-50;
                    cursor: not-allowed;
                }
            }
        }
    }
    //=============================================
    .trm_trip_details{
        flex-basis: 27%;
        border-radius: 6px;
        position: sticky;
        top: 34px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, .04), 0px 0px 2px rgba(0, 0, 0, .06), 0px 0px 1px rgba(0, 0, 0, .04);
        @media only screen and (max-width: 1120px) {
            flex-basis: 100%;
        }
        .trm_sidebar{
            padding: 24px 16px;
            background-color: $tm_background_color;
            .trm_search_header{
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid  $tm-neutral-800;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                h2{
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0;
                    color: $tm-neutral-1200;
                }
                .trm_clear_search{
                    padding: 0;
                    border: none;
                    background: none !important;
                    color: $tm-neutral-1100!important;
                    text-decoration: underline;
                    text-transform: inherit;
                    font-size: 14px;
                    text-underline-offset: 1px;
                    transition: all .2s ease;
                    cursor: pointer;
                    &:hover{
                        color: $tm-primary-500 !important;
                        text-decoration: none;
                    }
                }
            }
            .trm_search_type{
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: 1px solid  $tm-neutral-800;
                .trm_filter_section_title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{
                        font-size: 16px;
                        font-weight: 500;
                        color: $tm-neutral-1200;
                        cursor: pointer;
                    }
                    span{
                        cursor: pointer;
                        color:$tm-neutral-1000 ;
                        font-weight: normal;
                        font-size: 18px;
                    }
                }
                .trm_filter_section_content{
                    margin-top: 15px;
                    .trm_search_terms_list{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li{
                            margin-bottom: 20px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span{
                                font-size: 14px;
                                color: $tm-dark-300;
                            }
                            //==================checkbox==========================
                            .container {
                                display: inline-block;
                                position: relative;
                                padding-left: 30px;
                                font-size: 13px;
                                line-height: 1.6;
                                color: $tm-dark-300;
                                margin-bottom: 12px;
                                cursor: pointer;
                                 /* Hide the browser's default checkbox */
                                 input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                                                            /* Create a custom checkbox */
                                .checkmark {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 20px;
                                    width: 20px;
                                    border-radius: 4px;
                                    border: 1px solid $tm-neutral-800;
                                    /* Create the checkmark/indicator (hidden when not checked) */
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }
                                     /* Style the checkmark/indicator */
                                     &:after {
                                        left: 6px;
                                        top: 3px;
                                        width: 6px;
                                        height: 10px;
                                        border:  solid $tm-gray-600;
                                        border-width: 0 3px 3px 0;
                                        transform: rotate(45deg);
                                    }
                                }
                                /* When the checkbox is checked, add a blue background */
                                & input:checked ~ .checkmark {
                                    background-color: $tm_background_color;
                                    border: 1px solid $tm-primary-500;
                                }
                                /* Show the checkmark when checked */
                                & input:checked ~ .checkmark:after {
                                    display: block;
                                }

                            }
                            //===============================
                            .trm_show_less, .trm_icon{
                                padding:  0;
                                margin: 0;
                                background: none !important;
                                border: none;
                                cursor: pointer;
                                color: $tm-primary-500 !important;
                                text-decoration: underline;
                                text-transform: inherit;
                                font-size: 13px;
                                font-weight: normal;
                                text-underline-offset: 1px;
                                transition: all .2s ease;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                            .trm_icon{
                                line-height: 1.4;
                                text-decoration: none;
                                margin-left: 3px;
                            }
                        }
                    }
                }
                .trm_price_filter{
                    margin-top: 15px;
                    .trm_cost_slider_range{
                        border: none;
                        height: 2px;
                        background: $tm-primary-100;
                        margin-top: 45px;
                        margin-left: 9px;
                        margin-right: 9px;
                        position: relative;
                        border-radius: 4px;
                        .trm_ui_slider_range{
                            height: 2px;
                            border: none;
                            background: $tm-primary-500;
                            position: absolute;
                            z-index: 1;
                            font-size: .7em;
                            display: block;
                            top: 0;
                        }
                        .trm_ui_slider_handle{
                            border: none;
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            background: var(--primary-color);
                            margin-left: 0;
                            top: 1px;
                            transform: translate(-50%, -50%);
                            position: absolute;

                            &::before{
                                content:  attr(data-value);;
                                font-size: 10px;
                                margin-bottom: 12px;
                                letter-spacing: 1.5px;
                                line-height: 1;
                                color: #fff;
                                background-color: $tm-primary-500;
                                padding: 3px 8px;
                                border-radius: 4px;
                                position: absolute;
                                bottom: 100%;
                                margin-bottom: 10px;
                                left: 50%;
                                transform: translateX(-50%);
                                visibility: hidden;
                                opacity: 0;
                                transition: all .2s ease;
                                white-space: nowrap;
                            }
                            &[data-value]::before{
                                visibility: visible;
                                opacity: 1;
                            }
                            &[data-value]::after{
                                visibility: visible;
                                opacity: 1;
                            }
                            &::after{
                                content: "";
                                margin-bottom: 1px;
                                border: 4px solid rgba(0, 0, 0, 0);
                                border-top: 7px solid $tm-primary-500;
                                position: absolute;
                                left: 50%;
                                bottom: 100%;
                                margin-bottom: -2px;
                                transform: translateX(-50%);
                                visibility: hidden;
                                opacity: 0;
                                transition: all .2s ease;
                            }
                        }
                    }
                    .trm_cost_slider_value{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;
                        padding: 6px 0px;
                        font-size: 13px;
                        color: $tm-neutral-1000;
                    }
                }

            }
        }
    }
    //===============================================
    .trm_trip_card{
        flex-basis: 67%;
        @media only screen and (max-width: 1120px) {
            flex-basis: 100%;
        }
        .trm_travel_toolbar{
            padding: 24px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 0;
            
            .trm_filter_foundposts{
                margin-right: auto;
                h2{
                    font-size: 14px;
                    text-transform: capitalize;
                    color: $tm-gray-800;
                    font-weight: 400;
                }
            }
            .trm_dropdown{
              
                padding: 4px 20px 4px 8px;
                border-right: 2px solid $tm-neutral-800;
                @media only screen and (max-width: 575px) {
                    border-right: 0;
                }
                label{
                    color:$tm-neutral-900 ;
                    font-size: 14px;
                    font-weight: normal;
                }
                select{
                    outline: none;
                    border: none;
                    padding: 0;
                    font-size: 14px;
                    color: $tm-dark-600;
                }
            }
            .trm_view_modes{
                padding-left: 15px;
                a{
                    text-decoration: none;
                }
                .menu{
                    color:$tm-neutral-1100;
                    font-size: 25px;
                    margin-left: 5px;
                }
            }
        
        }
        .trm_category_trips{
            margin-bottom: 32px;
            .trm_trips_details{
                padding: 32px 24px 24px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, .04), 0px 0px 2px rgba(0, 0, 0, .06), 0px 0px 1px rgba(0, 0, 0, .04);
                display: flex;
                flex-wrap: wrap;
                border-radius: 4px;
                background-color: #fff;
                transition: all .5s ease;
                overflow: visible;
                height: 100%;
                &:hover{
                    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
                }
                .trm_trips_image{
                    flex-basis: 40%;
                    max-width: 40%;
                    height: 220px;
                    overflow: hidden;
                    border-radius: 4px;
                    @media only screen and (max-width: 831px) {
                        flex-basis: 100%;
                        max-width: 100%;
                        height: 220px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        transition: all 1s ease; 
                        &:hover{
                            transform: scale(1.1);
                        }               
                    }
                }
                .trm_category_trip_content{
                    flex: 0 0 60%;
                    max-width: 60%;
                    padding-left: 24px;
                    padding-top: 0;
                    @media only screen and (max-width: 831px) {
                        flex-basis: 100%;
                        max-width: 100%;
                        padding-left: 0px;
                    }
                    .trm_category_title{
                        margin-top: 0;
                        padding: 0 20px;
                        align-items: flex-start;
                        @media only screen and (max-width: 831px) {
                            padding: 0 0px;
                        }
                        h2{
                            font-size: 22px;
                            font-weight: 600;
                            margin: 20px 0 12px;
                            a{
                                text-decoration: none;
                                color:$tm-dark-600 ;
                                transition: all ease .3s;
                                &:hover{
                                    color: $tm-primary-500;
                                }
                            }
                        }
                    }
                    .trm_category_trip_detail{
                        padding: 0 20px 25px;
                        @media only screen and (max-width: 831px) {
                            padding: 0 0px 25px;
                        }
                        .trm_trip_category_price{
                            display: flex;
                            flex-wrap: wrap;
                            padding: 10px 0px;
                            .trm_trip_desti{
                                margin-bottom: 8px;
                                flex-basis: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .trm_trip_loc{
                                    margin-bottom: 12px;
                                }
                                    .icon{
                                        color: $tm-primary-500;
                                        font-size: 18px;
                                        font-weight: 400;
                                        line-height: 1.5;
                                    
                                    }
                                    .trm_name{
                                        font-size: 16px;
                                        line-height: 1.5;
                                        color:$tm-dark-300 ;
                                        font-weight: 400;
                                    }
                                
                            }
                            .trm_trip_budget{
                                flex-basis: 50%;
                                border-left: 1px solid $tm-neutral-800;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding-left: 48px;
                                max-width: 40%;
                                @media only screen and (max-width: 1220px) {
                                    padding-left: 24px;
                                }
                                @media only screen and (max-width: 575px) {
                                    max-width: none;
                                    padding-left: 10px;
                                }
                                .trm_trip_discount{
                                    display: inline-block;
                                    font-size: .72em;
                                    font-weight: 600;
                                    line-height: 1;
                                    padding: 5px 44px;
                                    border-radius: 14px;
                                    background-color: $tm-warning-500;
                                    color: #fff;
                                    margin-bottom: 16px;
                                    vertical-align: top;
                                    white-space: nowrap;
                                    span{
                                        color: #fff;
                                        display: flex;
                                        font-size: 1.3em;
                                        justify-content: center;                                    
                                        font-weight: 600;
                                        line-height: 1;                                    
                                    }
                                }
                                .trm_price_holder{
                                    display: inline-flex;
                                    flex-wrap: wrap;
                                    align-items: flex-end;
                                    .trm_actual_price{
                                        font-size: 32px;
                                        line-height: 1;
                                        font-weight: 600;
                                        color: $tm-dark-600;
                                    }
                                    .trm_striked_price{
                                        text-decoration: line-through;
                                        font-size: 18px;
                                        opacity: .4;
                                        margin-top: 5px;
                                        margin-left: 8px;
                                        color:$tm-dark-600;
                                    }
                                }
    
                            }
                        }
                        .trm_trip_desc{
                            line-height: 1.5;
                            font-size: 18px;
                            margin-top: 24px;
                            color: $tm-dark-700;
                        }
                    }
                }
                .trm_trip_aval_time{
                    padding: 0;
                    margin-top: 32px;
                    padding-top: 22px;
                    border-top: 1px solid $tm-neutral-800;
                    gap: 16px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .trm_category_trip_inner{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0;
                        span{
                            font-size: 14px;
                            line-height: inherit;
                            color: $tm-neutral-1000;
                            font-style: normal;
                            margin: 0;
                            width: 100%;
                        }
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            list-style: none;
                            padding: 0;
                            li{
                                font-size: 14px;
                                margin-right: 15px;
                                color:$tm-dark-600 ;
                            }
                        }
                    }
                    .trm_view_btn{
                        background: $tm-primary-500;
                        border:1px solid $tm-primary-500;
                        padding: 13px 25px;
                        border-radius: 35px;
                        color: $tm_text_light;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;   
                        text-decoration: none;     
                        &:hover{
                            background-color:$tm_text_light ;
                            color: $tm-primary-500 ;
                        }            
                    }
                
                }
            }
        }
        
    }
    //==================================================

}

.trm_category-available-months {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}