.trm_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    .trm_content{
        padding: 0 0 80px;
        .trm_page-header{
            margin: 0 0 35px;
            .trm_page-title{
                font-size: 1.9em;
                line-height: 1.21em;
                font-weight: 700;
                color: $tm-neutral-1200;
                margin: 0 0 10px;
            }
        }
        //========================================
        .trm_page_body{
            padding: 0 15px;
            width: 100%;
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        //=========================================
    }
    //=============================================
    .trm_trip_details{
        flex-basis: 30%;
        padding: 24px 16px;
        border-radius: 6px;
        background-color: $tm_background_color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, .04), 0px 0px 2px rgba(0, 0, 0, .06), 0px 0px 1px rgba(0, 0, 0, .04);
    }
    //===============================================
    .trm_trip_card{
        flex-basis: 67%;
        .trm_travel_toolbar{
            padding: 24px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 0;
            .trm_dropdown{
              
                padding: 4px 20px 4px 8px;
                border-right: 2px solid $tm-neutral-800;
                label{
                    color:$tm-neutral-900 ;
                    font-size: 16px;
                    font-weight: normal;
                }
                select{
                    outline: none;
                    border: none;
                    padding: 0;
                    font-size: 16px;
                    color: $tm-neutral-1100;
                }
            }
            .trm_view_modes{
                padding-left: 15px;
                a{
                    text-decoration: none;
                }
                .menu{
                    color:$tm-neutral-1100;
                    font-size: 25px;
                    margin-left: 5px;
                }
            }
        
        }
        .trm_category_trips{
            margin-bottom: 32px;
            .trm_trips_details{
                padding: 32px 24px 24px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, .04), 0px 0px 2px rgba(0, 0, 0, .06), 0px 0px 1px rgba(0, 0, 0, .04);
                display: flex;
                flex-wrap: wrap;
                border-radius: 4px;
                background-color: #fff;
                transition: all .5s ease;
                overflow: visible;
                height: 100%;
                &:hover{
                    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
                }
                .trm_trips_image{
                    flex: 0 0 40%;
                    max-width: 40%;
                    height: 220px;
                    overflow: hidden;
                    border-radius: 4px;
                    img{
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        transition: all 1s ease; 
                        &:hover{
                            transform: scale(1.1);
                        }               
                    }
                }
                .trm_category_trip_content{
                    flex: 0 0 60%;
                    max-width: 60%;
                    padding-left: 24px;
                    padding-top: 0;
                    .trm_category_title{
                        margin-top: 0;
                        padding: 0 20px;
                        align-items: flex-start;
                        h2{
                            font-size: 22px;
                            font-weight: 600;
                            margin: 20px 0 12px;
                            a{
                                text-decoration: none;
                                color:$tm-dark-600 ;
                                transition: all ease .3s;
                                &:hover{
                                    color: $tm-primary-500;
                                }
                            }
                        }
                    }
                    .trm_category_trip_detail{
                        padding: 0 20px 25px;
                        .trm_trip_category_price{
                            display: flex;
                            padding: 10px 0px;
                            .trm_trip_desti{
                                margin-bottom: 8px;
                                flex-basis: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .trm_trip_loc{
                                    margin-bottom: 12px;
                                }
                                    .icon{
                                        color: $tm-primary-500;
                                        font-size: 18px;
                                        font-weight: 400;
                                        line-height: 1.5;
                                    
                                    }
                                    .trm_name{
                                        font-size: 18px;
                                        line-height: 1.5;
                                        color:$tm-dark-300 ;
                                        font-weight: 400;
                                    }
                                
                            }
                            .trm_trip_budget{
                                 flex-basis: 50%;
                                border-left: 1px solid $tm-neutral-800;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding-left: 48px;
                                max-width: 40%;
                                .trm_trip_discount{
                                    display: inline-block;
                                    font-size: .72em;
                                    font-weight: 600;
                                    line-height: 1;
                                    padding: 5px 10px;
                                    border-radius: 14px;
                                    background-color: #ea7810;
                                    color: #fff;
                                    margin-bottom: 16px;
                                    vertical-align: top;
                                    white-space: nowrap;
                                    span{
                                        color: #fff;
                                        display: flex;
                                        font-size: 1.3em;
                                        justify-content: center;                                    
                                        font-weight: 600;
                                        line-height: 1;                                    
                                    }
                                }
                                .trm_price_holder{
                                    display: inline-flex;
                                    flex-wrap: wrap;
                                    align-items: flex-end;
                                    .trm_actual_price{
                                        font-size: 32px;
                                        line-height: 1;
                                        font-weight: 600;
                                        color: $tm-dark-600;
                                    }
                                    .trm_striked_price{
                                        text-decoration: line-through;
                                        font-size: 18px;
                                        opacity: .4;
                                        margin-top: 5px;
                                        margin-left: 8px;
                                        color:$tm-dark-600;
                                    }
                                }
    
                            }
                        }
                        .trm_trip_desc{
                            line-height: 1.5;
                            font-size: 20px;
                            margin-top: 24px;
                            color: $tm-dark-700;
                        }
                    }
                }
                .trm_trip_aval_time{
                    padding: 0;
                    margin-top: 32px;
                    padding-top: 22px;
                    border-top: 1px solid $tm-neutral-800;
                    gap: 16px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .trm_category_trip_inner{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0;
                        span{
                            font-size: 14px;
                            line-height: inherit;
                            color: $tm-neutral-1000;
                            font-style: normal;
                            margin: 0;
                            width: 100%;
                        }
                        ul{
                            display: flex;
                            list-style: none;
                            padding: 0;
                            li{
                                font-size: 14px;
                                margin-right: 15px;
                                color:$tm-dark-600 ;
                            }
                        }
                    }
                    .trm_view_btn{
                        background: $tm-primary-500;
                        border:1px solid $tm-primary-500;
                        padding: 13px 25px;
                        border-radius: 35px;
                        color: $tm_text_light;
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;   
                        text-decoration: none;     
                        &:hover{
                            background-color:$tm_text_light ;
                            color: $tm-primary-500 ;
                        }            
                    }
                
                }
            }
        }
        
    }
}