.container{
    padding-left: 20px;
    padding-right: 20px;
}
//===========================
.tm_head_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    .tm_entry_title{
        display: flex;
        align-items: center;
        .tm_entries_url{
            a{text-decoration: none;
                span{
                   
                    @include text($size: 14px);
                }
            }

        }
        .tm_back_icon{
            padding: 0 8px;
            color: $tm-neutral-1100;
        }
        .tm_payhead_title{
            color: $tm-neutral-1200;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
        
        }
    }
}
//=================================
.tm_entry_layout{
    display: flex;

    //==========================================================
    .tm_entry_left{
        width: 75%;
        .tm_header{
            background-color: #FFF;
            border-radius: 8px;
            .tm_head_top{
                display: flex;
                justify-content: space-between;
                padding: 20px;
                border-bottom: 1px solid #EAECF0;

                .tm_header_left{
                    display: flex;
                    .tm_payment_icon{
                        background: #FFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #D6DAE1;
                        border-radius: 8px;
                        height: 50px;
                        width: 50px;
                    }
                    .payment_amount_detail{
                        padding: 0 15px;
                        .head_small_title{
                            color: #565865;
                            font-family: "Inter", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            margin: 0;
                            padding-bottom: 10px;
                        }
                        .head_payment_amount{
                            display: flex;
                            align-items: center;
                            .pay_amount{
                                color: #2F3448;
                                font-family: "Inter", sans-serif;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 34px;
                                margin-right: 10px;
                            
                            }
                            .tm_pay_status_pending{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                background: #FFF9F3;
                                color: #DC8006;
                                text-align: center;
                                font-family: "Inter", sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                                padding: 12px 12px;
                                border-radius: 6px;
                                width: fit-content;
                                height: 15px;
                                
                            }
                        }
                    }
                }

                .tm_header_right{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                   .tm_payment_status{
                        cursor: pointer;
                        text-decoration-line: underline;
                    }    
                    .tm_pay_method_offline{
                        color: #fff;
                        font-weight: 700;
                        background: #cfcfcf;
                        border-radius: 5px;
                        border: 2px solid #cfcfcf;
                    }
                }
            }

            .tm_head_bottom{
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                padding: 20px;
                .tm_info_block{
                    flex-basis: 20%;
                    .tm_info_header{
                        font-size: 16px;
                        font-weight: 500;
                        color: black;
                        padding-bottom: 6px;
                    }
                    .tm_info_value{
                        color: #565865;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    //========================================================
    .tm_entry_right{
        width: 25%;
    }
}
//========================

.tm_entry_info_box{
    background: #FFF;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    .tm_entry_info_header{
        border-radius: 8px 8px 0 0;
        border-bottom: 1px solid #D6DAE1;
        padding-bottom: 15px;
        .tm_info_box_header{
            color: #2F3448;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }
    }
    .tm_entry_info_body{
        .tm_entry_details{
            padding-top: 20px;
            .tm_each_entry{
                display: grid;
                grid-template-columns: 200px auto;
                padding: 8px 0;
                .tm_entry_label{
                    color: #565865;
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                }
                .tm_entry_value{
                    color: #2F3448;
                    font-family: "Inter", sans-serif;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}
//=============================

.tm_entry_order_items{
    background: #FFF;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    .tm_entry_info_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        .tm_info_box_header{
            color: #2F3448;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }
    }

    .tm_entry_info_body{
        table.tm_list_table{
            background: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
            border: 1px solid #D6DAE1 !important;
            border-radius: 8px;
            font-size: 14px;
            
             thead th{
                color: #2c3338;
                border-bottom: 1px solid #D6DAE1;
                background: #F5F6F7;
                padding: 14px 20px;
             }
             tbody td{
                 border-bottom: 1px solid #D6DAE1;
                 padding: 14px 20px;
                 color: #50575e;
                 font-size: 14px;
                 line-height: 1.5em;
            }
             tbody > :nth-child(2n+1) {
                background-color: #FFF !important;
            }
            tbody>:nth-child(odd) {
                background-color: #f6f7f7;
            }
            tfoot tr {
                background: #F9FAFB;
                th{
                    color: #2c3338;
                    padding: 14px 20px;
                    border-top: none !important;
                    border-bottom: none !important;
                }
            }
        }
    }

}
//==========================

.tm_entry_transactions{
    background: #FFF;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    .tm_info_header{
        display: flex;
        align-items: center;
        padding: 6px 0;
        .tm_info_box_header{
            color: #2F3448;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }
    }
    .tm_info_body{
        .tm_list_items{
            li:first-child{
                border-radius: 8px 8px 0 0;
            }
            li{
                
                border-left: 1px solid #D6DAE1;
                border-right: 1px solid #D6DAE1;
                border-top: 1px solid #D6DAE1;
                display: flex;
                justify-content: space-between;
                padding: 12px 20px;
                margin: 0;
            }
            li:last-child{
                border-bottom: 1px solid #D6DAE1;
                border-radius: 0 0 8px 8px;
            }
        }
    }
}

//===========right part==============
.tm_entry_actions{
    background: #fff;
    margin: 0 0 20px 20px;
    padding: 20px;
    border-radius: 8px;
    .tm_entry_header{
        color:  #2F3448;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        padding-bottom: 14px;
        border-bottom: 1px solid #D6DAE1;
    
    }
    .tm_entry_body{
        padding-top: 14px;
        color: #323DA5;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        .tm_entry_print{
            display: flex;
            gap: 8px;
            padding: 10px 0;

            .icon{
                display: flex;
                align-items: center;
            }
            span{
                cursor: pointer;
                font-size: small;
            }
        }
    }
}

.tm_meta_info_wrapper{
    background: #FFF;
    margin-left: 20px;
    border-radius: 8px;
    .tm_entry_info_header{
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        gap: 10px;
        border-bottom: 1px solid #EAECF0;
        background: #FFF;
        .tm_info_box_header{
            color: #2F3448;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
        }
    }

    .tm_entry_info_body{
        ul{
            margin: 0;
            padding: 20px;
            list-style: none;
            font-size: 13px;
            line-height: 1.4em;
            li{
                padding: 2px 0;
                margin-bottom: 6px;
            }
        }
    }
}


