.container{
    padding-left: 20px;
    padding-right: 20px;
}
//===========================
.tm_head_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    .tm_entry_title{
        display: flex;
        align-items: center;
        .tm_entries_url{
            a{text-decoration: none;
                span{
                   
                    @include text($size: 14px);
                }
            }

        }
        .tm_back_icon{
            padding: 0 8px;
            color: $tm-neutral-1100;
        }
        .tm_payhead_title{
            color: $tm-neutral-1200;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
        
        }
    }
}
//=================================
.tm_entry_layout{
    display: flex;

    //==========================================================
    .tm_entry_left{
        width: 75%;
        .tm_header{
            background-color: #FFF;
            border-radius: 8px;
            .tm_head_top{
                display: flex;
                justify-content: space-between;
                padding: 20px;
                border-bottom: 1px solid $tm-gray-100;

                .tm_header_left{
                    display: flex;
                    .tm_payment_icon{
                        background: #FFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $tm-gray-100;
                        border-radius: 8px;
                        height: 50px;
                        width: 50px;
                    }
                    .payment_amount_detail{
                        padding: 0 15px;
                        .head_small_title{
                            color: $tm-dark-300;
                            font-family: "Inter", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            margin: 0;
                            padding-bottom: 10px;
                        }
                        .head_payment_amount{
                            display: flex;
                            align-items: center;
                            .pay_amount{
                                color: $tm-dark-600;
                                font-family: "Inter", sans-serif;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 34px;
                                margin-right: 10px;
                            
                            }
                            .tm_pay_status_pending{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                background: $tm-gray-50;
                                color: $tm-warning-500;
                                text-align: center;
                                font-family: "Inter", sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                                padding: 12px 12px;
                                border-radius: 6px;
                                width: fit-content;
                                height: 15px;
                                
                            }
                        }
                    }
                }

                .tm_header_right{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                   .tm_payment_status{
                        cursor: pointer;
                        text-decoration-line: underline;
                    }    
                    .tm_pay_method_offline{
                        color: #fff;
                        font-weight: 700;
                        background: $tm-dark-200;
                        border-radius: 5px;
                        border: 2px solid $tm-gray-100;
                    }
                }
            }

            .tm_head_bottom{
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                padding: 20px;
                .tm_info_block{
                    flex-basis: 20%;
                    .tm_info_header{
                        font-size: 16px;
                        font-weight: 500;
                        color: $tm-dark-700;
                        padding-bottom: 6px;
                    }
                    .tm_info_value{
                        color: $tm-dark-300;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    //========================================================
    .tm_entry_right{
        width: 25%;
    }
}
//========================

.tm_traveler_info_body{
    .tm_entry_details{
        padding: 16px;
        .tm_each_entry{
            display: grid;
            grid-template-columns: 200px auto;
            padding: 8px 0;
            .tm_entry_label{
                color: $tm-dark-300;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
            .tm_entry_value{
                color: $tm-dark-400;
                font-family: "Inter", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}

//=============================

.tm_booking_info_body{
    padding: 16px 10px;
    table.tm_list_table{
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
        border: 1px solid $tm-gray-100 !important;
        border-radius: 8px;
        font-size: 14px;
        
         thead th{
            color: $tm-dark-400;
            font-size: 15px;
            border-bottom: 1px solid $tm-gray-100;
            background: $tm-gray-50;
            padding: 14px 20px;
         }
         tbody td{
             border-bottom: 1px solid $tm-gray-100;
             padding: 14px 20px;
             color: $tm-dark-300;
             font-size: 14px;
             line-height: 1.5em;
        }
         tbody > :nth-child(2n+1) {
            background-color: #FFF !important;
        }
        tbody>:nth-child(odd) {
            background-color: $tm-gray-50;
        }
        tfoot tr {
            background: $tm-gray-50;
            th{
                color: $tm-dark-400;
                padding: 14px 20px;
                border-top: none !important;
                border-bottom: none !important;
            }
        }
    }
}
//==========================

.tm_info_body{
    padding: 16px 10px;
    .tm_list_items{
        li:first-child{
            border-radius: 8px 8px 0 0;
        }
        li{
            
            border-left: 1px solid $tm-gray-100;
            border-right: 1px solid $tm-gray-100;
            border-top: 1px solid $tm-gray-100;
            display: flex;
            justify-content: space-between;
            padding: 12px 20px;
            margin: 0;
            font-size: 15px;
            color: $tm-dark-400;
        }
        li:last-child{
            border-bottom: 1px solid $tm-gray-100;
            border-radius: 0 0 8px 8px;
        }
    }
}

//===========right part==============
.tm_entry_actions{
    background: #fff;
    margin: 0 0 20px 20px;
    padding: 20px;
    border-radius: 8px;
    .tm_entry_header{
        color:  $tm-dark-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        padding-bottom: 14px;
        border-bottom: 1px solid $tm-gray-100;
    
    }
    .tm_entry_body{
        padding-top: 14px;
        color: $tm-primary-500;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        .tm_entry_print{
            display: flex;
            gap: 8px;
            padding: 10px 0;

            .icon{
                display: flex;
                align-items: center;
            }
            span{
                cursor: pointer;
                font-size: small;
            }
        }
    }
}

.tm_meta_info_wrapper{
    background: #FFF;
    margin-left: 20px;
    border-radius: 8px;
    .tm_entry_info_header{
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        gap: 10px;
        border-bottom: 1px solid $tm-gray-100;
        background: #FFF;
        .tm_info_box_header{
            color: $tm-dark-400;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
        }
    }

    .tm_entry_info_body{
        ul{
            margin: 0;
            padding: 20px;
            list-style: none;
            font-size: 13px;
            line-height: 1.4em;
            li{
                padding: 2px 0;
                margin-bottom: 6px;
            }
        }
    }
}

.tm_trip_info_details {
    padding: 20px 10px;
    h5 {
        @include text($size: 14px, $weight: 600, $color: $tm-neutral-1200);
        margin-bottom: 20px;
    }
    .badge {
        margin: 10px 0;
        background: $tm-gray-50;
        border-radius: 8px;
        color: $tm-dark-400;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        padding: 6px 12px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid $tm-gray-100;
    }
}


