.tm_trip_one_shortcode_preview_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    .tm_trip_main {
        width: 70%;
        background-color: $tm_background_color;
        border-radius: 8px;
        .entry-header {
            padding: 20px;
            @include flex($justify: space-between);
            gap: 20px;
            .entry-title {
                @include h2-medium;
            }
            .wte-title-duration {
               background-color: $tm_background_color;
               border-radius: 8px;
               box-shadow: 0px 4px 8px rgba(0, 0, 0, .04), 0px 0px 2px rgba(0, 0, 0, .06), 0px 0px 1px rgba(0, 0, 0, .04);
               .duration, .days {
                margin: 0px;
                margin-bottom: 4px;
               }
               .duration {
                    @include h1-medium;
                    color: $tm_text_light;
                    background: $tm-primary-500;
                    padding: 4px 20px;
                    border-radius: 8px 8px 0px 0px;
                    text-align: center;
               }
               .days {
                @include h4-medium;
                    padding: 4px 20px;
                    border-radius: 0px 0px 8px 8px;
                    text-align: center;
               }
            }
        }
    }
    .tm_trip_sidebar {
        background-color: $tm_background_color;
        width: calc(30% - 20px);
        min-width: 300px;
        border-radius: 8px;
    }
}