$tm-neutral-50: #F8F9FC;
$tm-neutral-100: #EEEFF1;
$tm-neutral-200: '#DADDE7';
$tm-neutral-300: '#F1F2F8';
$tm-neutral-400: '#E8EAF1';
$tm-neutral-500: #E3E6EF;
$tm-neutral-600: '#DEE1EB';
$tm-neutral-700: '#CDD0DA';
$tm-neutral-800: '#C9CBCF';
$tm-neutral-900: '#A0A1A7';
$tm-neutral-1000: '#868A98';
$tm-neutral-1100: '#666978';
$tm-neutral-1200: '#1B1F35';


$tm-secondary-25: '#F8F5FE';
$tm-secondary-50: '#F0ECFD';
$tm-secondary-100: '#E1D8FB';
$tm-secondary-200: '#C4B1F7';
$tm-secondary-300: '#A68AF3';
$tm-secondary-400: '#8963EF';
$tm-secondary-500: '#6B3CEB';
$tm-secondary-600: '#6036D4';
$tm-secondary-700: '#5630BC';
$tm-secondary-800: '#4B2AA5';


$tm-gray-25: '#F9FAFB';
$tm-gray-50: '#F5F6F7';
$tm-gray-100: '#EAECF0';
$tm-gray-200: '#D6DAE1';
$tm-gray-300: '#C1C7D1';
$tm-gray-400: '#ADB5C2';
$tm-gray-500: '#98A2B3';
$tm-gray-600: '#8E99AA';
$tm-gray-700: '#808B9C';
$tm-gray-800: '#758195';
$tm-gray-outline: '#D6DAE1';
$tm-gray-divider: '#EAECF0';
$tm-gray-neutral: '#FAFAFA';


$tm-primary-25: '#F2F9FE';
$tm-primary-50: '#E6F2FE';
$tm-primary-100: '#CCE5FD';
$tm-primary-200: '#99CBFA';
$tm-primary-300: '#67B2F8';
$tm-primary-400: '#3498F5';
$tm-primary-500: '#017EF3';
$tm-primary-600: '#0171DB';
$tm-primary-700: '#0165C2';
$tm-primary-800: '#0158AA';


$tm-success-25: '#F3FAF8';
$tm-success-50: '#E8F5F1';
$tm-success-100: '#D1EAE4';
$tm-success-200: '#A3D6C9';
$tm-success-300: '#74C1AD';
$tm-success-400: '#46AD92';
$tm-success-500: '#189877';
$tm-success-600: '#16896B';
$tm-success-700: '#137A5F';
$tm-success-800: '#116A53';


$tm-warning-25: '#FFF9F3';
$tm-warning-50: '#FEF4E6';
$tm-warning-100: '#FDE8CD';
$tm-warning-200: '#FBD29C';
$tm-warning-300: '#F9BB6A';
$tm-warning-400: '#F7A539';
$tm-warning-500: '#F58E07';
$tm-warning-600: '#DC8006';
$tm-warning-700: '#C47206';
$tm-warning-800: '#AC6305';


$tm-red-25: '#FDF5F3';
$tm-red-50: '#FCEBE6';
$tm-red-100: '#F8D6CE';
$tm-red-200: '#F1AE9D';
$tm-red-300: '#EB856B';
$tm-red-400: '#E45D3A';
$tm-red-500: '#F04438';
$tm-red-600: '#C72F08';
$tm-red-700: '#B12A07';
$tm-red-800: '#9B2406';


$tm-dark-25: '#F0F0F1';
$tm-dark-50: '#D9DADC';
$tm-dark-100: '#C0C2C4';
$tm-dark-200: '#8D9095';
$tm-dark-300: '#5A5F66';
$tm-dark-400: '#2C3C4E';
$tm-dark-500: '#253241';
$tm-dark-600: '#1C2732';
$tm-dark-700: '#151D26';
$tm-dark-800: '#11171D';