// .tm_collapse-container {
//     width: 200px;
// }

.tm_collapse {
    border-bottom: $tm_border;
    margin-bottom: 5px;
}

.tm_collapse-btn {
    width: 100%;
    padding: 20px 0px;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    p {
          @include text($size: 16px, $weight: 600, $color: $tm-dark-500);
    }
    &:hover {
        p {
            color: $tm-primary-400;
        }
    }
}

.tm_collapse-content {
    display: none;
    padding: 10px;
    background-color: $tm_background_color;
    margin-left: 20px;
    p {
        @include text($size: 14px, $weight: 400, $color: $tm-dark-500);
    }
}