.tm_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.tm_modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .tm_trip_process_tabs {
        width: 65%;
        .tm_tab_container {
            box-shadow: none;
            margin: 0px;
            padding: 0px;
            border-right: $tm_border;
        }
    }
    .tm_trip_process_sidebar {
        width: 35%;
        .tm_trip_booking_summary {
            .tm_trip_booking_summary_title {
                @include text($size: 14px, $weight: 500, $color: $tm-dark-300);
                padding: 20px;
                padding-top: 2px;
                border-bottom: $tm_border;
            }
            .tm_trip_booking_summary_body {
                padding: 20px;
                .tm-booking-trip-title {
                    @include text($size: 16px, $weight: 500,  $lineHeight: 32px);
                }
                .tm-booking-starting-date {
                    @include text($size: 14px, $lineHeight: 28px);
                }
                .tm-booking-details-title {
                    @include text($size: 14px, $lineHeight: 28px, $weight: 500,);
                    border-bottom: 1px solid $tm-dark-300;
                }
                .tm_trip_booking_details{
                    padding: 20px 0px;
                    ul {
                        margin: 0;
                        padding: 0;
                        li {
                            list-style: none;
                            @include text($size: 14px, $lineHeight: 28px);
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            justify-content: space-between;
                            label {
                                @include text($size: 14px, $lineHeight: 28px);
                            }
                        }
                    }
                }
                .tm_trip_booking_total {
                    padding: 2px 0px;
                    border-top: $tm_border;
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }
}

.tm_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.tm_close:hover,
.tm_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
