.tm_photo_card {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    .file_upload_icon_btn{
        border: 2px dashed $tm-neutral-500;
        // background: $tm-neutral-100;
        background: $tm-neutral-50;
        height: 80px;
        width: 80px;
        border-radius: 8px;
        img {
            aspect-ratio: 2 / 2;
            object-fit: cover;
            border-radius: 8px;
        }
        .icon > svg {
            width: 20px;
            height: 20px;
            fill: $tm-neutral-400;
            margin: 0 auto;
            margin-top: 29px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .tm_photo_holder {
        position: relative;
        img {
            cursor: default;
        }
        .tm-delete-image {
            position: absolute;
            top: 2px;
            right: 2px;
            padding: 4px;
            background: $tm-primary-500;
            border-radius: 50%;
            color: $tm_text_light;
            cursor: pointer;
        }
    }

}