.tm-search-input {
    .el-input__wrapper{
        border-radius: 8px;
        .el-input__inner {
            border: none;
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
}