.tm-side-navbar-wrapper {
    background-color: $tm_background_color;
    width: 200px;
    height: 100vh;
    .tm-side-navbar {
        margin-top: 20px;
        li {
            margin-bottom: 0px;
            a {
                text-decoration: inherit;
                padding: 12px;
                display: block;
                width: 100%;
                @include text($color: $tm-dark-500, $size: 14px, $weight: 600, $lineHeight: 22px);
            }
            &:has(a.router-link-exact-active) {
                background: $tm-primary-500;
                a {
                    color: $tm-text-light;
                }
            }
        }
    }
    &.tm-settings-navbar {
        margin: 20px;
        border-radius: 8px;
        .tm-side-navbar {
            margin-top: 0px;
            padding: 20px;
            li {
                border-radius: 8px;
            }
        }
    }
}