.tm-trip-wrapper  {
    display: flex;
    gap: 20px;
    .tm-trip-content-wrapper {
        width: calc(100% - 240px);
        min-height: 100vh;
        padding: 20px;
        padding-left: 2px;
    }
}